body{
	background: darkblue;
	color: white;
}

header{
	text-align:center;
	font-size: 80px;
	margin-bottom: 30px;

}


.name{
	font-size: 30px;
	text-align: center;
}
.nameInput{
	text-align: center;
	font-size: 20px;
	width: 300px;
	height: 30px;
	margin-left: 566px;
}
.nameInput:focus{
	width: 300px;
	transition: width .35s ;
	background-color: pink;

}

#nameSection{
	display: flex;
}

#btn{
    margin-left: 684px;
    position: absolute;
    width: 82px;
    margin-top: 10px;
}

#next{
	position: absolute;
    margin-left: 593px;
    margin-top: 140px;
    width: 255px;
    height: 29px;
    border-radius: 7px;
}
/*
=========== This is page Two ============


/* The 3 category boxes */


 /*#secondPage{
 	display: none;
 }*/

 .username{
 	font-size: 30px;
 }

.categories{
	display: flex;
	justify-content: space-around;
	margin-top: 200px;
}


.entry{
	background-color: blue;
	padding: 6px;
    font-size: 25px;
    height: 250px;
    width: 350px;
    border-radius: 25px;
    text-align: center;
}

.entry:hover{
	background-color: green;
	font-size: 40px;
	height: 300px;
	width: 400px;
	transition: width .6s , height .6s , font-size .6s
}

#answerSection{
	display: none;
}






.question {
	display: none;
}
